@import url('https://mmwebfonts.comquas.com/fonts/?font=GHKKengtung');

.unicode {
	font-family: 'GHK KengTung' !important;
	letter-spacing: 1px;
	color: #fff !important;
	font-weight: bold;
}

body,
html {
	width: 100vw;
	height: 100%;
	background: rgb(248, 236, 194);
	background: -moz-radial-gradient(
		circle,
		rgba(248, 236, 194, 1) 0%,
		rgba(97, 96, 92, 1) 51%,
		rgba(245, 245, 245, 1) 100%
	);
	background: -webkit-radial-gradient(
		circle,
		rgba(248, 236, 194, 1) 0%,
		rgba(97, 96, 92, 1) 51%,
		rgba(245, 245, 245, 1) 100%
	);
	background: radial-gradient(
		circle,
		rgba(248, 236, 194, 1) 0%,
		rgba(97, 96, 92, 1) 51%,
		rgba(245, 245, 245, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8ecc2",endColorstr="#f5f5f5",GradientType=1);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

#progressbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.d2-card-wide.mdl-card {
	width: 95%;
	background: rgb(248, 236, 194);
	background: -moz-radial-gradient(
		circle,
		rgba(248, 236, 194, 1) 0%,
		rgba(97, 96, 92, 1) 60%,
		rgba(245, 245, 245, 1) 100%
	);
	background: -webkit-radial-gradient(
		circle,
		rgba(248, 236, 194, 1) 0%,
		rgba(97, 96, 92, 1) 60%,
		rgba(245, 245, 245, 1) 100%
	);
	background: radial-gradient(
		circle,
		rgba(248, 236, 194, 1) 0%,
		rgba(97, 96, 92, 1) 60%,
		rgba(245, 245, 245, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8ecc2",endColorstr="#f5f5f5",GradientType=1);

	display: inline-block;
	border-radius: 10px;
	margin-top: 10px;
}

.d2-card-wide > .mdl-card__title {
	color: rgba(255, 255, 255, 0.363);
	height: 176px;
}

.d2-card-wide > .mdl-card__menu {
	color: #fff;
}

.material-icons {
	color: rgb(255, 255, 255);
}

.d2 {
	font-family: 'Kanit', sans-serif;
	color: #333 !important;
}

.clock b,
.d2tick {
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.d2status,
.clock,
.clock b {
	color: #fff;
}

#d2set,
#d2val {
	color: #fff !important;
}

#d2Table {
	background: rgb(248, 236, 194);
	background: -moz-linear-gradient(
		90deg,
		rgba(248, 236, 194, 1) 0%,
		rgba(97, 96, 92, 1) 50%,
		rgba(245, 245, 245, 1) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		rgba(248, 236, 194, 1) 0%,
		rgba(97, 96, 92, 1) 50%,
		rgba(245, 245, 245, 1) 100%
	);
	background: linear-gradient(
		90deg,
		rgba(248, 236, 194, 1) 0%,
		rgba(97, 96, 92, 1) 50%,
		rgba(245, 245, 245, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8ecc2",endColorstr="#f5f5f5",GradientType=1);

	table-layout: fixed !important;
}

#1230,
#430 {
	color: #fff !important;
}

#d2Table td {
	word-wrap: break-word !important;
	width: 25%;
	display: inline-block;
}

.d2text {
	color: #fff;
}

.d2status .material-icons {
	color: white;
}

.mdl-card__supporting-text {
	color: #fff;
}

.text-white {
	color: #fff !important;
}

.mdl-button--raised.mdl-button--colored {
	margin: 10px 5px 0 0 !important;
	background: #f8ecc2d0 !important;
	color: #444 !important;
	font-size: 1.5em !important;
	text-align: center;
	border-radius: 5px;
}
